<h1>Welcome to your main page!</h1>

<h2>Sort games by ratings</h2>
  <p><%= link_to "Ratings", ratings_path %> </p>

<div>
</div>

<h3><% @games %> Your games:</h3>
<%= render 'games', games: @games%>


<div>
<%=  link_to "Add a Game", new_game_path %>
</div>






